// variables
$background-gradient: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
$background-size: cover;
$background-repeat: no-repeat;
$font-color: white;
// $link-spacing: 0.6rem;
$center-align: center;

// @mixin hover-transition($duration) {
//     -webkit-transition: $duration;
//     transition: $duration;
// }

// global styles
* {
    margin: 0;
    font-family: Poppins;
}

// home page header
#home-header {
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-top: 200px;
    background: {
        image: $background-gradient, url("https://images.unsplash.com/photo-1510414842594-a61c69b5ae57?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=04c27a9ea6ed87838d712ae831afa974&auto=format&fit=crop&w=1050&q=80");
        size: $background-size;
        repeat: $background-repeat;
        position: $center-align;
    }
    h1, h3 {
        color: white;
    }
    h1 {
        font-size: 4.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    a {
        margin-top: 10px;
    }
}

#get-started {
    background: {
        image: $background-gradient, url("https://images.unsplash.com/photo-1539035104074-dee66086b5e3?ixlib=rb-0.3.5&s=868aa77630cc040c043fe66cc65f43dd&auto=format&fit=crop&w=1050&q=80");
        size: $background-size;
        repeat: $background-repeat;
        position: left center;
    }
    color: $font-color;
    text-align: center;
}

//footer
#footer {
    background-color: #007BFF;
    color: $font-color;
    text-align: $center-align;
    padding: 15px;
    h3 {
        display: inline;
        a {
            color: white;
            text-decoration: underline;
        }
    }
}

//sign up
#sign-up {
    background: {
        image: $background-gradient, url("https://images.unsplash.com/photo-1531976731176-a9c0224aa9c6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5666a5572d4fc28776385929ab53c044&auto=format&fit=crop&w=1050&q=80");
        size: $background-size;
        repeat: $background-repeat;
        position: bottom;
    }
    height: 92.5vh;
    color: $font-color;
    padding-top: 150px;
}

//login
#login {
    background: {
        image: $background-gradient, url("https://images.unsplash.com/photo-1468779823294-9824b5b9a1b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=77af828f29cefb724b4a5f51ca7e192c&auto=format&fit=crop&w=1055&q=80");
        size: $background-size;
        repeat: $background-repeat;
        position: bottom;
    }
    height: 92.5vh;
    color: $font-color;
    padding-top: 150px;
}