// variables
$background-gradient: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
$background-size: cover;
$background-repeat: no-repeat;
$font-color: white;
$center-align: center;
$bottom-align: bottom;

@mixin background-image($url, $image-position) {
    background: {
        image: $background-gradient, url($url);
        size: $background-size;
        repeat: $background-repeat;
        position: $image-position;
    }
}

@mixin fade-in-animation {
    @-webkit-keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

@mixin fade-in-call($animation, $animation-duration) {
    -webkit-animation: $animation $animation-duration;
            animation: $animation $animation-duration;
}

@mixin page-height($height){
    height: 100%;
    min-height: $height;
}

//animations
@include fade-in-animation;

// global styles
* {
    margin: 0;
    font-family: Poppins;
}

#app-container {
    @include fade-in-call(fade-in, 0.5s);
}

// home page
#home-header {
    @include page-height(750px);
    height: 100vh;
    width: 100%;
    text-align: $center-align;
    padding-top: 200px;
    @include background-image("https://images.unsplash.com/photo-1510414842594-a61c69b5ae57?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=04c27a9ea6ed87838d712ae831afa974&auto=format&fit=crop&w=1050&q=80", $center-align);
    h1, h3 {
        color: $font-color;
    }
    h1 {
        font-size: 4.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    a {
        margin-top: 10px;
    }
}

#get-started {
    @include background-image("https://images.unsplash.com/photo-1539035104074-dee66086b5e3?ixlib=rb-0.3.5&s=868aa77630cc040c043fe66cc65f43dd&auto=format&fit=crop&w=1050&q=80", left center);
    color: $font-color;
    text-align: $center-align;
}

//footer
#footer {
    background-color: #007BFF;
    color: $font-color;
    text-align: $center-align;
    padding: 10px;
    h3 {
        display: inline;
        font-size: 16px;
        a {
            color: $font-color;
            text-decoration: underline;
        }
    }
}

//sign up
#sign-up {
    @include background-image("https://images.unsplash.com/photo-1531976731176-a9c0224aa9c6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5666a5572d4fc28776385929ab53c044&auto=format&fit=crop&w=1050&q=80", $bottom-align);
    height: 100%;
    min-height: 700px;
    color: $font-color;
    padding-top: 150px;
    @media(max-width: 767px){
        padding-top: 50px;
    }
}

#login-signup-link {
    margin-left: 10px;
    font-size: 15px;
    color: $font-color;
    &:hover {
        text-decoration: underline;
    }
}

//login
#login {
    @include background-image("https://images.unsplash.com/photo-1468779823294-9824b5b9a1b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=77af828f29cefb724b4a5f51ca7e192c&auto=format&fit=crop&w=1055&q=80", $bottom-align);
    @include page-height(700px);
    color: $font-color;
    padding-top: 150px;
}

//create vacation
#create-vacation-container {
    @include background-image("https://images.unsplash.com/photo-1505642257289-9f2d7dd73641?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=00a0e335423175c41a7b880e80cd5b48&auto=format&fit=crop&w=1094&q=80", $bottom-align);
    @include page-height(758px);
    color: $font-color;
}

#create-vacation-form {
    margin-top: 40px;
}

#vacation-table {
    margin-top: 25px;
}

.modal-dialog {
    max-width: 800px;
}

#no-vacations {
    text-align: $center-align;
}