* {
  margin: 0;
  font-family: Poppins; }

a {
  text-decoration: none;
  color: white;
  margin: 0.6rem;
  padding: 0.6rem;
  border-radius: 6%;
  display: block;
  width: 80vw;
  text-align: center; }

#home-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1516655855035-d5215bcb5604?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5da3abb226e19a58e7391bc6bde89d81&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%; }
  #home-header a {
    background-color: #00a2ff;
    font-size: 2rem;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    #home-header a:hover {
      background-color: rgba(0, 162, 255, 0.8); }
  #home-header h1, #home-header h3 {
    color: white;
    width: 50%;
    display: inline-block; }
    @media (max-width: 400px) {
      #home-header h1, #home-header h3 {
        text-align: center;
        width: 90vw; } }
  #home-header h1 {
    font-size: 6rem; }
    @media (max-width: 400px) {
      #home-header h1 {
        font-size: 5rem; } }
  #home-header h3 {
    font-size: 2.5rem; }
    @media (max-width: 400px) {
      #home-header h3 {
        font-size: 1.8rem; } }
  #home-header #header-content {
    padding: 7% 0px 0px 7%; }
    @media (max-width: 400px) {
      #home-header #header-content {
        padding: 0; } }
